amqp
asgiref
billiard
celery
certifi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
cloudinary
django
django-cors-headers
django-filter
djangorestframework
djangorestframework-simplejwt
idna
kombu
packaging
pillow
prompt-toolkit
psycopg2-binary
pyjwt
python-dateutil
python-decouple
redis
requests
six
sqlparse
tzdata
tzlocal
urllib3
vine
wcwidth
